$color-gray: gray;
$color-black: black;
$color-green: green;
$color-red: red;
$color-blue: #40B5CB;

.card {
  position: relative;
  border-radius: 3px;
  width: 28vw;
  height: auto;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0 0 0.5rem 0;

  &:hover {
    box-shadow: 0 0 10px $color-blue;
    transform: scale(1.01);
    opacity: 0.8;

    .arrow {
      fill: $color-blue;
    }
  }

  .cardImage {
    width: 100%;
    object-fit: cover
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: $color-gray;
      margin: 0 0 4px 5px;
      font-weight: 400;
    }

    span {
      color: $color-black;
    }

    .statusAlive {
      position: relative;
      padding-left: 20px;
      margin: 0 0 0px 5px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color-green;
      }
    }

    .statusDead {
      position: relative;
      padding-left: 20px;
      margin: 0 0 0px 5px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color-red;
      }
    }

    .statusunknown {
      position: relative;
      padding-left: 20px;
      margin: 0 0 0px 5px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color-gray;
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 28rem;
    height: 100%;
    flex: 0 0 auto;

    &:hover {
      box-shadow: none;
      transform: none;
      padding: 0;
      opacity: 1;

      .arrow {
        fill: $color-black;
      }
    }

    .cardImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}