.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.459);
  border-radius: 25px;
  padding: 0 2rem 0 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px #40B5CB;
    //background-color: #40B5CB;
    scale: 1.1;
    border: none;
  }

  .information {
    display: flex;
    gap: 6rem;
    padding: 1rem 2rem;
    border-radius: 25px;
    
    .keys {
      font-weight: bold;
      color: black;
    }

    .values {
      color: black;
    }

  }

  .rightArrow {
    height: 4rem;
    width: 4rem;
  }

  img {
    height: 4rem;
    width: 4rem;
  }
}

@media (max-width: 768px) {
  .location {
    padding: 0;
  }
}