.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 2rem 0 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #f1f1f1;
    scale: 1.1;
  }

  .information {
    display: flex;
    gap: 6rem;
    padding: 1rem 2rem;
    border-radius: 25px;
    
    .keys {
      font-weight: bold;
      color: black;
    }

  }

  img {
    height: 4rem;
    width: 4rem;
  }
}