$color-white: white;
$color-black: black;
$color-grey: grey;

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 400px;

  .previous,
  .next {
    background-color: $color-white;
    border: none;
    cursor: pointer;
  }

  .pageNumber {
    background-color: $color-white;
    width: 2.3rem;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .currentPageNumber {
    width: 2.3rem;
    background-color: $color-black;
    border: none;
    color: $color-white;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
  }

  .arrow {
    fill: $color-black;
  }

  .arrowDisabled {
    fill: $color-grey;
    cursor: not-allowed;
  }
}

@media (max-width: 768px) {
  .pagination {
    background-color: $color-white;
    opacity: 0.8;
  }
}