.container {
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    .buttons {
      border: 1px solid white;
      display: flex;
      justify-content: space-between;
      width: 25rem;

      button {
        background-color: white;
        border: 1px solid black;
        height: 3rem;
        width: 7rem;
        border-radius: 5px;
        font-size: 1rem;

        .circle {
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-right: 5px;
        }
      }

      .alive .circle {
        background-color: green;
      }

      .dead .circle {
        background-color: red;
      }

      .unknown .circle {
        background-color: gray;
      }

      .clear .circle {
        background-color: rgb(0, 149, 255);
      }
    }
  }

  .characters {
    border:1px dashed blue;
    display: flex;
    //height: 20rem;
    //gap: 3rem;
    justify-content: space-around;
  }
}