.container {

  .locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 1rem 3rem 3rem 1rem;

  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15rem;
    cursor: pointer;

    .previous, .next {
      background-color: white;
      border: none;
      cursor: pointer;
    }

    .pageNumber {
      background-color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
    }

    .currentPageNumber {
      background-color: black;
      color: white;
      padding: 10px;
      border-radius: 50%;
    }
  }
}