.container{
  display: flex;
  padding: 2rem 2rem;
  justify-content: flex-start;
  gap: 5rem;
  flex-wrap: wrap;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}