.container{
  display: flex;
  padding: 2rem 2rem;
  justify-content: space-between;
  row-gap: 5rem;
  //flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}