.container {

  .locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 1rem 3rem 3rem 1rem;

    .location {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      border-radius: 25px;
      padding: 0 2rem 0 0;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #f1f1f1;
        scale: 1.1;
      }

      .information {
        display: flex;
        gap: 6rem;
        padding: 1rem 2rem;
        border-radius: 25px;
        
        .keys {
          font-weight: bold;
          color: black;
        }

      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15rem;
    cursor: pointer;

    .pageNumber {
      background-color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
    }

    .currentPageNumber {
      background-color: black;
      color: white;
      padding: 10px;
      border-radius: 50%;
    }
  }
}