.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15rem;
    cursor: pointer;

    .previous, .next {
      background-color: white;
      border: none;
      cursor: pointer;
    }

    .pageNumber {
      background-color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
    }

    .currentPageNumber {
      background-color: black;
      color: white;
      padding: 10px;
      border-radius: 50%;
    }

    .arrow {
      fill: black;
    }

    .arrowDisabled {
      fill: grey;
      cursor: not-allowed;
    }
  }